.wrapper{

    align-items: center;
}
.home{

  margin-left: 5px;
  margin-bottom: 15px;
}


p {
  max-height: 35px;
}

.stat{

  background-color: rgba(165, 42, 42, 0.384);
border-style: double;

font-size: large;
grid-template-areas:

"max rpm"
"air cfm"
"static2 mm"
"noise dba"
"power W"
"life lifesvar"
;
}


.max{
  grid-area: max;
}
.air{
  grid-area: air;
}
.static{
  grid-area: static2;
}
.noise{
  grid-area: noise;
}
.power{
  grid-area: power;
}
.life{
  grid-area: life;
}
.rpm{
  grid-area: rpm;
}
.cfm{
  grid-area: cfm;
}
.mm{
  grid-area: mm;
}
.dba{
  grid-area: dba;
}
.W{
  grid-area: W;
}
.lifesvar{
  grid-area: lifesvar;
}






.flakt1 {
  margin-left: 20px;

  background-color: bisque;
  display: grid;
  border-style: groove;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  
 
 
  grid-template-areas:
   "fläktbild beskriv nyhetfläkt pris"
   "vanster hoger hoger utfyllnad"
}
  

.bild1{
  grid-area: fläktbild;
border-style: solid;
margin-right:px}

.bildbeskrivningrea{
  grid-area: beskriv;

}
.reafläkt {


  background-color: bisque;
  display: grid;
  border-style: groove;


  grid-template: "bild1 beskriv nyhetfläkt"
  "pris pris pris"
  ;
 
}

.rea{
  grid-area: nyhetfläkt;
  background-color: rgba(165, 42, 42, 0.733);
  max-height: fit-content;
  font-weight: bold;
  border-radius: 5px;
 
  
}
.rea p{
  grid-area: nyhetfläkt;
  font-weight: bold;

}


.pris{
grid-area: pris;
  background-color: rgba(165, 42, 42, 0.733);
  max-height: fit-content;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 30px;

  

}



@media screen and (min-width: 600px) {
  .main {
  
  }
  .menupic {
    display: none;
  }

.flakt1 {
  margin-left: 20px;

  background-color: bisque;
  display: grid;
  border-style: groove;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  
 
 
  grid-template-areas:
   "fläktbild beskriv nyhetfläkt pris"
   "vanster hoger hoger utfyllnad"



   
}
  



}
