body{




}


div{
    padding-left: 5px;
    padding-right: 5px;
    max-width: max-content;
  
    
}

p{
   
    max-height: 35px;
}








.menu{
padding:0;
list-style-type: none;


}

.menu-link{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
}


.om-oss{

    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
    padding-right: 400px;
    background-color: bisque;
    display: grid;
    grid-template-areas: "logo textomoss"
    
    
    
    ;
    
}

.om-osstext{



    grid-area: textomoss;
}
.om-osstext p{
    width: 300px;
}

.noctua-logo{


    
    grid-area: logo ;
}



.nya-fläkt{
  
    
    margin-left: 20px;
    margin-right: 20px;

background-color: bisque;
display: grid;

padding-top: 20px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 50px;
   grid-template-areas: 
   "bild1 bes"
   ;
}




.bildbeskrivning{

    grid-area: bes;
    margin-right: 20px;
}

.bild1{

    grid-area: bild1;

}




@media screen and (min-width:600px) {
    .main{
    margin-left: 200px;
    margin-right: 20px;
   
    }
    .menupic{ 
        display: none;

    }
